{% extends 'kakeibo/base.html' %}
{% load kakeibo %}
{% block content %}

<form class="mt-2" id="search-form" action="" method="GET">
  <label class="label mr-4">年月</label>
  {{ search_form.year }}
  {{ search_form.month }}
  <button class="btn btn-info ml-4" type="submit">検索</button>
</form>

<p class="search-result mt-3"> {{ page_obj.paginator.count }}件の検索結果 </p>

<table class="table mt-3">
  <tr>
    <th>日付</th>
    <th>カテゴリ</th>
    <th>金額</th>
    <th>概要</th>
    <th>編集</th>
  </tr>
  {% for income in income_list %}

  <tr>
    <td>{{ income.date }}</td>
    <td>{{ income.category }}</td>
    <td>
      {% if income.price %}
      {{ income.price }}
      {% endif %}
    </td>
    <td>
      {% if income.description %}
      {{ income.description }}
      {% endif %}
    </td>
    <td>
        <div class="manage-btn-area">
          <div class="update-btn-area">
            <a class="btn btn-info" href="{% url 'kakeibo:income_update' income.pk %}">更新</a>
          </div>
          <div class="delete-btn-area">
            <a class="btn btn-danger" href="{% url 'kakeibo:income_delete' income.pk %}">削除</a>
          </div>
        </div>
      </td>
  </tr>
  {% endfor %}
</table>

<div class="mt-5">
  {% if page_obj.has_previous %}
  <a class="mr-2 font-weight-bold" href="?{% url_replace request 'page' page_obj.previous_page_number %}" title="前ページへ">前へ</a>
  {% endif %}

  <span style="color:#0d1a3c">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
  <a class="ml-2 font-weight-bold" href="?{% url_replace request 'page' page_obj.next_page_number %}" title="次ページへ">次へ</a>
  {% endif %}
</div>

<div class="" style='margin-top: 10px;'>
  <a class="btn btn-danger" href="{% url 'kakeibo:income_create'%}">収入登録</a>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', e => {
    const searchForm = document.getElementById('search-form');

    //カテゴリがクリックされたら検索実行
    for (const check of document.getElementsByName('category')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }

    // 選択済みのカテゴリがクリックされたらチェックを解除して検索実行
    const selectedCategory = document.querySelector(`input[name='category']:checked`)
    if (selectedCategory) {
      selectedCategory.onclick = () => {
        selectedCategory.checked = false
        searchForm.submit();
      }
    }
  });
</script>
{% endblock %}