{% extends 'kakeibo/base.html' %}

{% block content %}


<div class="card" style="width: 60rem; margin: 5% auto;">
    <div class="card-body">
      <h5 class="card-title">今月の支払い</h5>
      <p class="card-text">{{ total_payment }}円</p>
    </div>
</div>
<div class="card" style="width: 60rem; margin: 5% auto;">
    <div class="card-body">
      <h5 class="card-title">今月の予算</h5>
      <p class="card-text">{{ usable }}円</p>
    </div>
</div>
<div class="card" style="width: 60rem; margin: 5% auto;">
    <div class="card-body">
      <h5 class="card-title">貯金額</h5>
      <p class="card-text">{{ rest }}円</p>
    </div>
</div>
{% comment %} <div>
    {% for payment in payments %}
        <p>{{ payment.cardcategory }}</p>
    {% endfor %}
</div> {% endcomment %}

{% endblock %}