<!-- kakeibo/templates/kakeibo/payment_list.html -->
{% extends 'kakeibo/base.html' %}
{% block content %}

<form class="mt-2" id="search-form" action="" method="GET">
  <h1>検索フォーム!</h1>
</form>

<table class="table mt-3">
  <tr>
    <th>日付</th>
    <th>カテゴリ</th>
    <th>金額</th>
    <th>概要</th>
  </tr>
  {% for payment in payment_list %}

  <tr>
    <td>{{ payment.date }}</td>
    <td>{{ payment.category }}</td>
    <td>{{ payment.price}}</td>
    <td>
      {% if payment.description %}
      {{ payment.description }}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<div class="mt-5">
  <h1>ページネーション!</h1>
</div>

{% endblock %}