<!-- kakeibo/templates/kakeibo/payment_list.html -->
{% extends 'kakeibo/base.html' %}
{% block content %}

<!-- 検索フォーム -->
<form class="mt-2" id="search-form" action="" method="GET">
  <div>
    <label class="label mr-4">年月</label>
    {{ search_form.year }}
    {{ search_form.month }}
  </div>
  <div class="mt-4">
    <label class="label mr-4">金額</label>
    {{ search_form.greater_than }}
    <span class="ml-4 mr-4">～</span>
    {{ search_form.less_than }}
  </div>
  <div class="mt-4">
    {{ search_form.key_word }}
    <button class="btn btn-info ml-4" type="submit">検索</button>
  </div>
  <div class="mt-2 inline">
    {{ search_form.category }}
  </div>
</form>

<!-- 一覧表示 -->
<table class="table mt-3">
  ...
</table>

<!-- ページネーション -->
<div class="mt-5">
  <h1>ページネーション！</h1>
</div>


{% endblock %}