{% extends 'kakeibo/base.html' %}

{% block content %}
<form id="search-form" action="" method="GET">
  <div class="mt-2">
    <p class="section-title">表示グラフ</p>
    {{ search_form.graph_visible }}
  </div>
  <!-- 表示グラフが収入の時は表示しない -->
  {% if search_form.cleaned_data.graph_visible != 'Income' %}
  <div class="mt-2">
    <p class=" mt-4 section-title">支出カテゴリ</p>
    {{ search_form.payment_category }}
  </div>
  
  <div class="mt-2">
    <p class=" mt-4 section-title">支出カード種類</p>
    {{ search_form.payment_cardcategory }}
  </div>
  {% endif %}
  <!-- 表示グラフが支出の時は表示しない -->
  {% if search_form.cleaned_data.graph_visible != 'Payment' %}
  
  <div class="mt-2" style="padding-bottom:10px;">
    <p class=" mt-4 section-title">収入カテゴリ</p>
    {{ search_form.income_category }}
  </div>
  {% endif %}
</form>

{% autoescape off %}
{{ transition_plot }}
{% endautoescape %}

{% endblock %}
{% block extrajs %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', e => {
    const searchForm = document.getElementById('search-form');

    // 支出カテゴリがクリックされたら送信
    for (const check of document.getElementsByName('payment_category')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }
　　// 収入カテゴリがクリックされたら送信
    for (const check of document.getElementsByName('income_category')) {
      check.addEventListener('change', () => {
        searchForm.submit();
      });
    }

    // グラフ表示条件がクリックされたら送信
    for (const check of document.getElementsByName('graph_visible')) {
      check.addEventListener('change', () => {
        // 支出グラフが選択されたら、収入カテゴリのチェックは外して送信
        if (check.value == 'Payment') {
          for (const radio of document.getElementsByName('income_category')) {
            if (radio.checked) {
              radio.checked = false;
            }
          }
        //収入グラフが選択されたら、支出カテゴリのチェックは外して送信
        } else {
          for (const radio of document.getElementsByName('payment_category')) {
            if (radio.checked) {
              radio.checked = false
            }
          }
        }
        searchForm.submit();
      })
    }

    // 選択済みのボタンがクリックされたら解除して送信
    const selectedPaymentCategory = document.querySelector(`input[name='payment_category']:checked`)
    if (selectedPaymentCategory) {
      selectedPaymentCategory.onclick = () => {
        selectedPaymentCategory.checked = false
        searchForm.submit();
      }
    }

    const selectedIncomeCategory = document.querySelector(`input[name='income_category']:checked`)
    if (selectedIncomeCategory) {
      selectedIncomeCategory.onclick = () => {
        selectedIncomeCategory.checked = false
        searchForm.submit();
      }
    }

    const selectedGraphVisible = document.querySelector(`input[name='graph_visible']:checked`)
    if (selectedGraphVisible) {
      selectedGraphVisible.onclick = () => {
        selectedGraphVisible.checked = false
        searchForm.submit();
      }
    }
  });
</script>
{% endblock %}

{% comment %} {% block extrajs %}
<!-- plotlyのjs -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %} {% endcomment %}